.cards {
    transition: all 0.2s ease;
    cursor: pointer;
    font-size: large;
    box-shadow:5px 4px 10px 6px #2c2b2b;
}

.cluster_body{
    background-color: #0a0808;
    box-shadow: 5px 5px 6px black;  
}